{% extends 'wysebone/base.html' %}
<!--Load language-->
{% load static i18n tz common humanize %}

<!-- Add title -->
{% block title %}{{ app.name }}{% endblock %}

<!-- Add css -->
{% block style %}
<link href="{% static 'vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'styles/apps/entry.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'vendor/sweetalert2/borderless.css' %}">
{% if list_object %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/datatables.min.css' %}"/>
    <link href="{% static 'vendor/jsuites/jsuites.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/jquery-contextmenu/jquery.contextMenu.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.min.css' %}" >
    <link href="{% static 'styles/view_app.css' %}" rel="stylesheet">
{% endif %}
{% endblock  %}

<!-- Add content -->
{% block content %}
{% set RESET "RESET"|constants %}
<div class="main-header">
    <div class="app-header-icon-outer float-left">
        <div class="app-header-icon" style="background-color: {{app.color}}">
            <i class="{{app.icon}}" aria-hidden="true" ></i>
        </div>
    </div>
    <div class="app-header-name-outer float-left ml-2 p-1">
        <span class="app-flow-appname-input mb-1">
            {{app.name}}
        </span>
        <small id="appnameHelp" class="form-text text-muted">{% blocktrans with time_ago=app.updated_at|timesince %}Last edited {{ time_ago }} ago.{% endblocktrans %}</small>
    </div>
    <div class="float-right apps-option">
        <div class="loadding" style="display: none;"></div>
    </div>
</div>
<div class="card" style="background-color: {% if app.setting_json.property.bg_color %}{{app.setting_json.property.bg_color}}{% endif %};">
    <div class="card-body add-app-form">
        <form role="form" id="add_app_form" method="post" novalidate>
            {% csrf_token %}
            <div class="wb-entry-container" style="min-height:{{height_form}}px">
                <div class="wb-entry-form">
                    {% for item in app_items %}
                        {% if item.authority is not "HIDDEN"|constants %}
                        <div class="app-item" style="width: {{ item.item_json.width }}px; left: {{ item.left }}px; top: {{ item.top }}px;">
                            {% if item.is_button_field %}
                                {% if item.check_event_type %}
                                    <button class="btn btn-block" {% if item.authority is "VIEW"|constants %} disabled {% endif %}id="{{ item.code }}" type="submit" style="background-color: {{ item.item_json.bg_color }}; color: {{ item.item_json.text_color }};">{{ item.name }}</button>
                                {% elif item|check_event_type:RESET %}
                                    <button class="btn btn-block" {% if item.authority is "VIEW"|constants %} disabled {% endif %}id="{{ item.code }}" type="reset" style="background-color: {{ item.item_json.bg_color }}; color: {{ item.item_json.text_color }};">{{ item.name }}</button>
                                {% else %}
                                    <button class="btn btn-block" {% if item.authority is "VIEW"|constants %} disabled {% endif %}id="{{ item.code }}" type="button" style="background-color: {{ item.item_json.bg_color }}; color: {{ item.item_json.text_color }};">{{ item.name }}</button>
                                {% endif %}
                            {% elif item.is_label_field %}
                                {% autoescape off %}
                                {{ item.item_json.display }}
                                {% endautoescape %}
                            {% elif item.is_list_object_field %}
                                <div class="wysebone_listTable" id="{{ item.code }}" data-authority="{{ item.authority }}" data-appcode="{{item.item_json.events.0.target.0.object|default:''|upper }}" style="width:{{ item.item_json.width }}px; height: {{ item.item_json.height }}px"></div>
                            {% else %}
                                {% set form items_form | property:item.code %}
                                {% if item.is_checkbox_field %}
                                    <div class="custom-control custom-checkbox">
                                        {{ form }}
                                        <label class="custom-control-label" for="{{ item.item_json.field_code }}">{% if item.is_view_label %}{{ item.name }}{% endif %}</label>
                                    </div>
                                    <div class="text-danger">{{ form.errors }}</div>
                                {% else %}
                                    {% if item.is_view_label %}
                                    <label for="{{ item.code }}">{{ item.name }} {% if item.item_json.required == True %}<b class="text-danger">*</b>{% endif %}</label>
                                    {% endif %}
                                    {% if item.unit_measure != '' %}
                                        {% if item.has_prefix %}
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ item.unit_measure }}</span>
                                            </div>
                                            {{ form }}
                                        </div>
                                        {% else %}   
                                        <div class="input-group">
                                            {{ form }}
                                            <div class="input-group-append">
                                                <span class="input-group-text">{{ item.unit_measure }}</span>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% else %}
                                        {{ form }}
                                    {% endif %}
                                    <div class="text-danger">{{ form.errors }}</div>
                                {% endif %}
                            {% endif %}
                            {% for output in item.item_json.outputs %}
                                <input id="{{ output.code }}" name="{{ output.code }}" {% if item.is_list_object_field is not True %}class="outputs"{% endif %} type="hidden"/>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endfor %}
                    
                </div>
            </div>
        </form>
    </div>
</div>
{{ event|json_script:"event-data" }}
{% endblock  %}

{% block js %}
<script defer src="{% static 'vendor/lodash/lodash.min.js' %}"></script>
<script defer src="{% static 'vendor/moment/moment.min.js' %}"></script>
<script defer src="{% static 'vendor/moment/moment-with-locales.min.js' %}"></script>
<script defer src="{% static 'vendor/moment/moment-timezone-with-data.min.js' %}"></script>
<script defer type="text/javascript" src="{% static 'vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
<script defer src="{% static 'js/apps/entry.js' %}"></script>
<script defer src="{% static 'vendor/sweetalert2/sweetalert2.min.js' %}" ></script>
{% if list_object %}
    <script defer type="text/javascript">
        var format_date = ['MM/DD/YYYY', 'YYYY/MM/DD', 'DD/MM/YYYY'];
    </script>
    <script defer type="text/javascript" src="{% static 'vendor/axios/axios.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'vendor/jsuites/jsuites.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'vendor/jquery-contextmenu/jquery.contextMenu.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'vendor/datatables/datatables.min.js' %}" ></script>
    <script defer type="text/javascript" src="{% static 'js/dataTables.fixedColumns.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/dataTables.keyTable.js' %}" ></script>
    <script defer type="text/javascript" src="{% static 'js/dataTables.editor.js' %}" ></script>
    <script defer src="{% static 'vendor/reactjs/react.min.js' %}" ></script>
    <script defer src="{% static 'vendor/reactjs/react-dom.min.js' %}" ></script>
    <script defer src="{% static 'js/apps/view_app.js' %}"></script>
{% endif %}
<script type="text/javascript" defer>
    {% set RESET "RESET"|constants %}
    {% set ACTION_ON_OTHER_OBJECTS "ACTION_ON_OTHER_OBJECTS"|constants %}
    {% for item in app_items %}
        {% if item.is_button_field and item|check_event_type:RESET is False  %}
            $('#{{ item.code }}').click(function(e){
                e.preventDefault();
                {% if item.check_event_type %}
                    {% for item in item.item_json.inputs %}
                        $("<input>").attr({ 
                            name: "{{ item.code }}", 
                            type: "hidden", 
                            value: $("#{{ item.code }}").val()
                        }).appendTo("form");
                    {% endfor %}

                    $("<input>").attr({ 
                        name: "btn_events", 
                        type: "hidden", 
                        value: "{{ item.item_json.events|safe|escapejs }}"
                    }).appendTo("form");

                    $.ajax({
                        type:'POST',
                        url:'{% url "view.app" app.code %}',
                        data: $('#add_app_form').serialize(),
                        success:function(resp){
                            if (resp.status == 400){
                                _.forEach(resp.errors, function(item, key){
                                    $('[name="'+key+'"]').addClass('is-invalid').next('.text-danger').html(item[0])
                                })
                            }
                            else if(resp.status == 500) {
                                let Toast = Swal.mixin({
                                    toast: true,
                                    position: 'top',
                                    showConfirmButton: false,
                                    timer: 5000,
                                });
                                Toast.fire({
                                    title: resp.message
                                });
                            }
                            else if(resp.status == 200) {
                                {% if item|check_event_type:ACTION_ON_OTHER_OBJECTS %}
                                    $('.wysebone_listTable').each(function () {
                                        let appcode = $(this).data('appcode');

                                        window.instance_wysebone[appcode].syncData()
                                    })
                                {% else %}
                                    window.location.href = window.location.href;   
                                {% endif %}
                            }

                        },
                        error : function(xhr,errmsg,err) {
                            window.location.href = window.location.origin + xhr.responseText;
                        }
                    });

                    
                {% elif item|check_event_type:ACTION_ON_OTHER_OBJECTS %}
                    
                    $('.wysebone_listTable').each(function () {
                        let appcode = $(this).data('appcode');

                        window.instance_wysebone[appcode].search()
                    })
                {% endif %}
            })
        {% endif %}
    {% endfor %}
</script>
{% endblock  %}