<!--Load language-->
{% load i18n %}
<div class="item-container">
    <div class="">
        <div class="item-edit">
            <a href="#" class="del" style="display: none;"><i class="fa fa-times"></i></a>
            <div class="item-body">
                <div class="form-group">
                    <label>{% trans "Item name" %} <b class="text-danger">*</b></label>
                    <div>{{data.item_name}}</div>
                    <div class="error text-danger">{{data.item_name.errors}}</div>
                </div>
            </div>
            <div class="item-detail collapse {% if data.required.errors or data.default_value.errors or data.item_type.errors or data.field_size.errors %} show {% endif %}">
                <div class="form-group">
                    <label>{% trans "Required" %}</label>
                    <div>{{data.required}}</div>
                    <div class="error text-danger">{{data.required.errors}}</div>
                </div>
                <div class="form-group">
                    <label>{% trans "Default value" %}</label>
                    {{data.default_value}}
                    <div class="error text-danger">{{data.default_value.errors}}</div>
                </div>
                <div class="form-group">
                    <label>{% trans "Type" %}</label>
                    {{data.item_type}}
                    <div class="error text-danger">{{data.item_type.errors}}</div>
                </div>
                <div class="form-group">
                    <label>{% trans "Field size" %} <b class="text-danger">*</b></label>
                    {{data.field_size}}
                    <div class="error text-danger">{{data.field_size.errors}}</div>
                </div>
            </div>
            <div class="item-footer">
                {% if data.required.errors or data.default_value.errors or data.item_type.errors or data.field_size.errors %} 
                    <a href="#" class="button-collapse">{% trans "View less" %} <i class="fa fa-angle-up"></i></a>
                    <a href="#" class="button-expanse" style="display: none;">{% trans "View more" %} <i class="fa fa-angle-down"></i></a>
                {% else %}
                    <a href="#" class="button-collapse" style="display: none;">{% trans "View less" %} <i class="fa fa-angle-up"></i></a>
                    <a href="#" class="button-expanse">{% trans "View more" %} <i class="fa fa-angle-down"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
