{% extends 'wysebone/external/base.html' %}

{% load i18n static %}
<!-- Add title -->
{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card my-5">
            <h3 class="card-header text-center bg-info text-white">{% trans "Reset password" %}</h3>
            <div class="card-body">
              {% if validlink %}
                <form method="post">
                  {% csrf_token %}
                  <fieldset class="module aligned wide">
                    <label>{% trans "New password" %} <b class="text-danger">*</b></label>
                    <div class="form-group"> 
                        <input type="password" name="new_password1"  class="form-control" required id="id_new_password1"> 
                        <div class="text-danger">{{ form.new_password1.errors }}</div>
                        {% if form.new_password1.help_text %}
                        <div class="help">{{ form.new_password1.help_text|safe }}</div>
                        {% endif %}
                    </div> 
                    <label>{% trans "New password confirmation" %} <b class="text-danger">*</b></label>
                    <div class="form-group"> 
                        <input type="password" name="new_password2" required id="id_new_password2" class="form-control"> 
                        <div class="text-danger">{{ form.new_password2.errors }}</div>
                        {% if form.new_password2.help_text %}
                        <div class="help">{{ form.new_password2.help_text|safe }}</div>
                        {% endif %}
                    </div> 
                  </fieldset>
                  <div class="submit-row">
                    <input class="btn btn-lg btn-info btn-block my-4" type="submit" value="{% trans 'Change my password' %}" class="default">
                  </div>
                </form>
              {% else %}
                <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                <p class="m-auto p-2 text-center"><a class="btn btn-info" href="{% url 'password_reset' %}">{% trans "Request new password" %}</a></p>
              {% endif %}
            </div>
        </div>
    </div>
  </div>
{% endblock %}