{% extends 'wysebone/external/base.html' %}
{% load i18n static %}
<!-- Add title -->
{% block title %}{{ title }}{% endblock %}

<!-- Add content -->
{% block content %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card my-5">
            <h3 class="card-header text-center bg-info text-white">{% trans 'Reset password' %}</h3>
            <div class="card-body">
                <!-- Default form login -->
                <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
                <form class="p-4" role="form" autocomplete="off" method="post" id="login-form" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            {{ form.email }}
                            <div class="invalid-feedback">
								{% if form.email.errors %}
									{{ form.email.errors}}
								{% endif %}
							</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="recover-submit" class="btn btn-info btn-block my-4" value="{% trans "Reset password" %}" type="submit">
                    </div>
                    <span>
                        {% trans "Already have login and password?" %}
                        <a href="{% url 'login' %}">{% trans "Login" %}</a>
                    </span>
                    <input type="hidden" class="hide" name="token" id="token" value=""> 
                </form>
                <!-- Default form login -->
            </div>
        </div>
    </div>
</div>
{% endblock  %}
{% block js %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock  %}