{% extends 'wysebone/external/base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
		<div class="card my-5">
			<h3 class="card-header text-center bg-info text-white">{{ title }}</h3>
			<div class="d-flex flex-column">
				<p class="m-auto p-2">
					{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
				</p>
				<p class="m-auto p-2">
					{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
				</p>
				<p class="m-auto p-2"><a class="btn btn-info btn-block" href="{% url 'index' %}">{% trans "Return to login page" %}</a></p>
			</div>
		</div>
	</div>
</div>

{% endblock %}