 /* *** Create Department *** */
 
 .add-localized {
     position: relative;
     height: 41px;
     cursor: pointer;
 }
 
 .add-localized hr {
     margin: 0;
     padding: 0;
     height: 20px;
     border: 0;
     border-bottom: 5px solid #E5E5E8;
 }
 
 .add-localized .add-localized-button {
     position: absolute;
     top: 12px;
     left: 10px;
     right: auto;
     padding: 2px 5px;
     border: 1px solid #b2b2b2;
     border-radius: 10px;
     background-color: #fff;
     color: #333;
     font-size: 11px;
 }
 
 .localizedname .remove-localized-button {
     position: absolute;
     margin-top: -54px;
     right: -5px;
     font-size: 18px;
     color: #dc3545 !important;
     cursor: pointer;
 }
 /* *** End Create Department *** */
 /* **** Form User **** */
 
 .modal-profile-crop .modal-dialog,
 .modal-profile-crop .modal-no-backdrop {
     width: 380px;
 }
 
 .cropper-view-box,
 .cropper-face {
     border-radius: 50%;
 }
 
 .user-avatar {
     float: left;
     margin-bottom: 0;
     text-align: center;
 }
 
 .user-avatar a {
     cursor: pointer;
 }
 
 .user-avatar .user-avatar-image {
     transition-property: none;
     width: 130px;
     height: 130px;
     margin-right: 20px;
     padding: 0;
     background: #fdfdfd;
     overflow: hidden;
     border-radius: 6em;
 }
 
 .user-upload {
     margin-left: 180px;
 }
 
 .user-upload-file {
     margin-top: 5px;
     margin-bottom: 10px;
     position: relative;
 }
 
 .user-button-upload {
     border: 1px solid gray;
     display: inline-block;
     padding: 4px 10px;
     cursor: pointer;
     border-radius: 4px;
     background-color: #fff;
     font-size: 16px;
     color: #529214;
 }
 
 .user-button-file-upload {
     position: absolute;
     opacity: 0;
     z-index: -1;
     left: 180px;
     font-size: 20px;
     color: rgb(153, 153, 153);
 }
 
 .user-selection {
     min-height: 400px;
 }
 
 .user-selection-center {
     display: -webkit-flex;
     flex-wrap: wrap;
     -webkit-flex-wrap: wrap;
     -webkit-align-content: center;
     align-content: center;
 }
 
 .user-not-wrap {
     white-space: nowrap;
 }
 
 @media (max-width: 768px) {
     .user-avatar {
         float: none;
     }
     .user-upload {
         margin-left: 0;
         margin-top: 10px;
     }
 }
 /* **** End Form User **** */