{% extends 'wysebone/base.html' %}
<!--Load language-->
{% load i18n static %}

<!-- Add title -->
{% block title %}{% trans "Change Department" %}{% endblock %}

<!-- Add css -->
{% block style %}
    <!-- select2 -->
    <link href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet" />
    <!-- select2 Theme bootstrap4-->
    <link href="{% static 'vendor/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/admin.css' %}" rel="stylesheet">
    <link href="{% static 'styles/form.css' %}" rel="stylesheet">
{% endblock  %}

<!-- Add content -->
{% block content %}

<div class="card mb-3">
    <div class="card-header">
        <h3>{{ header }}</h3>
    </div>
    <div class="card-body">
        <div class="col-lg-8">
            <form role="form" action="" id="department_form" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="form_name" class="col-sm-3 col-form-label">{% trans "Name" %}</label>
                    <div class="col-sm-9">
                        <label for="form_name">{% trans "Display Name" %} <b class="text-danger">*</b></label>
                        {{ form.name }}
                        <div class="text-danger">{{ form.name.errors}}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="parent" class="col-sm-3 col-form-label">{% trans "Parent Department" %}</label>
                    <div class="col-sm-9">
                        <select name="parent" id="parent" class="form-control">
                            <option value="" {% if department.parent_id == None %} selected {% endif %}>{% trans "Root" %}</option>
                            {% if list_parent %}
                            {% for parent in list_parent %}
                                <option value="{{ parent.pk }}" {% if department.parent_id != None and parent.pk == department.parent_id %} selected {% endif %}>{{ parent.name }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-3 col-form-label">{% trans "Description" %}</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="description" id="description" rows="5">{{ department.description }}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-3 col-sm-9">
                        <button type="submit" id="department_submit" class="btn btn-primary text-uppercase">{% trans "Save" %}</button>
                        <a class="btn btn-secondary text-uppercase" href="{% url 'index.department' %}">{% trans "Cancel" %}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock  %}

<!-- Add js -->
{% block js %}

<!-- select2 -->
<script src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
<script src="{% static 'js/department.js' %}"></script>
{% endblock  %}